<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334716074442-sp1sr1irt6lqmtn180cmipkmi3eorm0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334716074442-sp1sr1irt6lqmtn180cmipkmi3eorm0i</string>
	<key>API_KEY</key>
	<string>AIzaSyB2qtlk8thJ5asDbWcnbiaRPLC2D37CGvg</string>
	<key>GCM_SENDER_ID</key>
	<string>334716074442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ali.test.GetirClone</string>
	<key>PROJECT_ID</key>
	<string>getirappclone</string>
	<key>STORAGE_BUCKET</key>
	<string>getirappclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334716074442:ios:e0d810164a2ef426c37733</string>
</dict>
</plist>